body  {
    background-color: #9fdcff;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: grid;
    place-items: center;
    width: fit-content;
	  margin: 100px auto;
    padding: 0;
    background: linear-gradient(
      90deg,
      rgb(141, 186, 254) 0%,
      rgb(48, 169, 250) 30%
    );
	  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    border-radius: 10px 10px 0 0;

    animation: yLeft 2s alternate-reverse both ease-in-out;
}

@keyframes yLeft {
  0% {
    transform: translateY(0) scale(1);
  }

  100% {
    transform: translateY(-150px) scale(0.1);
  }
}